<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @drawing.nome %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drawing.description %>
</p>

<%= link_to 'Edit', edit_drawing_path(@drawing) %> |
<%= link_to 'Back', drawings_path %>
