<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="forms">Á venda <i class="fa fa-send"></i></h1>
    </div>
  </div>
</div>
<% Sale.all.each do |sale| %>
	<div class="row">
	    <div class="col-md-3">
	        <div class="col-item">
	            <div class="photo">
	                <%= image_tag(sale.image_url(:home), class: "img-responsive" ) if sale.image? %>
	            </div>
	            <div class="info text-center">
	                <div class="row">
	                    <div class="col-md-12">
	                        <h4 class="text-primary" >
	                            <%= sale.name %>
	                        </h4>
	                    </div>
	                    <div class="col-md-12">
	                        <p class="text-info">
	                        	<%= sale.description %>
	               			</p>
	                    </div>
	                    <hr width="60%" style="margin-bottom: 3px">
	                    
	                    <div class="col-md-12 pull-right"  style="margin-bottom: 5px">
	                        <h4>Á partir de</h4>
	                        <h3 class="text-success" style="display:inline"><strong>R$ <%= sale.starting %></strong></h3>
	                    </div>

	                </div>
	                <button type="button" class="btn btn-primary btn-block"><%= link_to "Veja mais", sale_path(sale), class: "link-not-decorate" %></button>
	            </div>
	        </div>
	    </div>
	</div>
<% end %>