<% @page_title = "Home" %>
<% content_for :head do %>
    <title><%= "Kiira Onew Home" %></title>
    <meta property="og:title" content="Kiira Onew"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=<%= request.original_url %>/>
    <meta property="og:description" content="Site uahSUAhsuhauSHUA"/>
    <meta property="og:image" content=<%= @galleries.first.drawings.first.image_url%>/>
<% end %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My Jobs - Galleries <i class="fa fa-picture-o"></i></h1>
    </div>
</div>
<div class="row">
    <% @galleries.each do | gallery | %>
        <div class="col-md-4 portfolio-item">
            <div class="box-image">
                <%= link_to gallery_path(gallery), class: "link-not-decorate" do %> 
                    <%= image_tag(gallery.image_url(:home), class: "img-responsive" ) if gallery.image? %>

                <h4>
                        <%=gallery.name%>
                                        <i class="fa fa-picture-o right">
                    <%= gallery.drawings.count %></i>
                </h4>
                <p class="description"> fa fa-picture-o rightfa fa-picture-o rightfa fa-picture-o rightfa fa-picture-o rightfa fa-picture-o rightfa fa-picture-o rightfa fa-picture-o rightfa fa-picture-o rightfa fa-picture-o right<%= tag("i", class: "fa fa-external-link right-bottom")%></i></p>
                <%end%>
            </div>
        </div>
    <%end%>
</div>