<% content_for :head do %>
    <meta property="og:site_name" content="Kiira Onew - Digital Art">
    <meta property="fb:app_id" content="653396958070822">
    <meta property="og:image" content="<%= @gallery.image_url %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= "Kiira Onew - Galeria #{@gallery.name}" %>">
    <meta property="og:description" content="<%= @gallery.description %>">
    <meta itemprop="name" content="<%= "Kiira Onew - Galeria #{@gallery.name}" %>">
    <meta itemprop="description" content="<%= @gallery.description %>">
    <meta itemprop="image" content="<%= @gallery.image_url %>">
<% end %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Drawings - <%= @gallery.name.capitalize %> <i class="fa fa-picture-o"></i></h1>
    </div>
</div>
<div class="box-image">
    <div class="row">
        <% @gallery.drawings.each do | drawing | %>
            <div class="col-md-3 portfolio-item">
                <%= link_to gallery_drawing_path(@gallery,drawing), class: "link-not-decorate" do %>
              <%= image_tag(drawing.image_url(:thumb), size: "260x187",class: "img-thumbnail img-responsive" )  if drawing.image?  %>
                    <h4><%= drawing.name %>
                        <%= tag("i", class: "fa fa-external-link")%> </i>
                    </h4>
                <%end%>
            </div>
        <% end %>
    </div>
</div>
<div class="box-image">
    <div class="row">
        <div class="col-xs-6 col-md-4 column">
            <h2 class="text-info">Details <i class="fa fa-info right"></i></h2>
                <ul class="nav">
                    <li><p style="font-size: 14px;"><%=@gallery.description%></p style="font-size: 14px;"></li>
                </ul>
        </div>

        <div class="col-xs-6 col-md-3  column">
            <h2 class="text-info"><i class="fa  fa-share-alt right"></i>Share in:</h2>
            <a href="#" onClick="<%= "window.open('http://www.pinterest.com/pin/create/bookmarklet/?media=#{@gallery.image_url}&url=#{request.original_url}&is_video=false&description=#{@gallery.name}','sharer','toolbar=0,status=0,width=580,height=325');"%>"><img class="image-pinterest"></a>
            <a href="#" onClick="<%= "window.open('http://www.facebook.com/share.php?u=#{request.original_url}','sharer','toolbar=0,status=0,width=580,height=325');"%>"><img class="image-facebook"></a>
            <a href="#" onClick="<%= "window.open('https://plus.google.com/share?url=#{request.original_url}','sharer','toolbar=0,status=0,width=580,height=325');"%>"><img class="image-googleplus"></a>
            <a href="#"><img class="image-twitter"></a>
            <a href="#"><img class="image-tumblr"></a>
        </div>
    </div>
</div>



<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script></h3>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script type="text/javascript">
    window.___gcfg = {lang: 'pt-BR'};
    (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
