<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" style="margin-top: 0px;">Produtos <i class="fa fa-send"></i></h1>
    </div>
  </div>
</div>
<% @sale.products.each do |product| %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="col-item">
          <div class="photo">
              <%= image_tag(product.image_url(:fit), class: "img-responsive" ) if product.image? %>
          </div>
          <div class="info text-center">
              <div class="row">
                  <div class="col-md-12">
                      <h4 class="text-primary"><%= product.name %></h4>
                  </div>
                  <div class="col-md-12">
                      <p class="text-info">Canecas personalizadas com desenhos diversos</p>
                  </div>
                  <hr width="60%" style="margin-bottom: 3px">
                  <div class="col-md-12 pull-right"  style="margin-bottom: 5px">
                      <h4>Preço</h4>
                      <h3 class="text-success" style="display:inline"><strong>R$ <%= product.price %></strong></h3>
                  </div>
              </div>
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
                  Pedir
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                      </div>
                      <div class="modal-body">
                       <%= form_for(Order.new) do |f| %>
                          <div class="field">
                            <%= f.label :user_name %><br>
                            <%= f.text_field :user_name %>
                          </div>
                          <div class="field">
                            <%= f.label :user_mail %><br>
                            <%= f.text_field :user_mail %>
                          </div>
                          <div class="field" style="display:none">
                            <%= f.collection_select(:product_id,
                                                    Product.order(:id),
                                                    :id, :name, :prompt => true, :selected => product) %>
                          </div>
                            
                          <div class="field">
                            <%= f.label :facebook_contact %><br>
                            <%= f.text_field :facebook_contact %>
                          </div>
                          <div class="actions">
                            <%= f.submit %>
                          </div>
                        <% end %>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h3 class="page-header">Outros Produtos</h3>
      </div>

      <% relactions_random_sales.each do |product|%>
          <%= link_to sale_path(product.sale), class: "link-not-decorate" do %> 
              <div class="col-sm-3 col-xs-6 portfolio-item">
                  <%= image_tag(product.image_url(:fit), class: "img-responsive img-thumbnail") %>
              </div>
          <% end %>
      <% end %>
  </div>
</br>
</div>