<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kiira Onew" %></title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kiira Onew" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><i class="fa fa-home"></i> Kiira Onew</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><i class="fa fa-picture-o"></i> Portifolio <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Drawingss</a></li>
                <li class="divider"></li>
                <li><a href="../amelia/">Illustrations</a></li>
                <li><a href="../cerulean/">Fan art</a></li>
                <li><a href="../cosmo/">Sketches</a></li>
                <li><a href="../cyborg/">Championship</a></li>
                <li><a href="../flatly/">Videos</a></li>
                <li><a href="../journal/">Tattoos</a></li>
                <li><a href="../lumen/">Lumen</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"><i class="fa fa-external-link"></i> Links <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="./bootstrap.min.css">Facebook</a></li>
                <li><a href="./bootstrap.css">Twitter</a></li>
                <li><a href="./bootstrap.css">YouTube</a></li>
                <li><a href="./bootstrap.css">Tumblr</a></li>
                <li><a href="./bootstrap.css">YouTube</a></li>
                <li><a href="./bootstrap.css">Google +</a></li>
                <li class="divider"></li>
                <li><a href="./variables.less">DeviantArt</a></li>
                <li><a href="./bootswatch.less">bootswatch.less</a></li>
              </ul>
            </li>
            <li>
              <a href="http://news.bootswatch.com"><i class="fa fa-list-alt"></i> News</a>
            </li>
            <li>
              <a href="../help/"><i class="fa fa-info-circle"></i> About Me</a>
            </li>
            
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank"><i class="fa fa-envelope"></i> Subscribe to newsletter</a></li>
            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <br>
            <br>
            <div class="bs-example">
              <div class="jumbotron">
                <h1>Kiira Onew</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information</p>                
                <p><a class="btn btn-primary btn-lg">Read More</a></p>
              </div>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="page-header">
                <h1 id="type">Some things about me and my work <i class="fa fa-tasks"></i></h1>
              </div>
            </div>
          </div>


                <div class="row destacados">

                  <div class="col-md-4">
                    <div>
                      <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                      <h2>Who am I <i class="fa fa-question"></i></h2> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.</p>
                      <a href="#" class="btn btn-primary" title="Enlace">Read More »</a>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div>
                      <img src="http://lorempixel.com/200/200/abstract/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                      <h2>What do I do? <i class="fa fa-question"></i></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.</p>
                      <a href="#" class="btn btn-primary" title="Enlace">Read More »</a>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div>
                      <img src="http://lorempixel.com/200/200/abstract/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                      <h2>Why do I do? <i class="fa fa-question"></i></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.</p>
                      <a href="#" class="btn btn-primary" title="Enlace">Read More »</a>
                    </div>
                  </div>
              </div>  
            </div> 


  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="type">A little part of my job <i class="fa fa-heart"></i></h1>
      </div>
    </div>
  </div>

  <div class="row">
        <!-- Boxes de Acoes -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
          <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
          <div class="info">
            <h3 class="title">Made with Bootstrap</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
      
        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
          <div class="image"><i class="fa fa-flag"></i></div>
          <div class="info">
            <h3 class="title">Icons by Font Awesome</h3>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
      
        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
          <div class="image"><i class="fa fa-desktop"></i></div>
          <div class="info">
            <h3 class="title">Desktop Friendly</h3>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>        
    <!-- /Boxes de Acoes -->
  </div>
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">My Jobs - Galleries <i class="fa fa-picture-o"></i></h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="#project-link">Fan Art</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="#project-link">Illustrations</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="#project-link">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="#project-link">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="#project-link">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="#project-link">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootswatch.js"></script>
  </div>
  <div class="container">
    <div class="page-header">
        <h1 id="forms">Contact Me</h1>
      </div>
      <div class="row">
        <div class="col-lg-5">
            <h3>Where?<h3>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d916.3777431665376!2d-45.89548309999999!3d-23.260876099999976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdb5506b0231ed%3A0x86c0155d9ffd6fb8!2sRua+Jos%C3%A9+Fid%C3%AAncio+dos+Santos%2C+2+-+Residencial+Bosque+dos+Ip%C3%AAs!5e0!3m2!1spt-BR!2sbr!4v1394482158358" width="400" height="300" frameborder="3" style="border:3"></iframe>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <h3>Contacts</h3>
            <br/>
              <h3> <i class="fa fa-envelope"></i> kiira_onew@gmail.com </h3>
              <h3> <i class="fa fa-phone"></i> +55 12 98274-7616 </h3>
              <h3> <i class="fa fa-map-marker"></i> Rua José Fidencio dos Santos, 150, casa 1<br>
                Bosque dos Ipês, 12236-879<br>
                São José dos Campos, SP </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
