<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kiira Onew" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kiira Onew" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
       <%= render 'layouts/messages' %>
       <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="jumbotron">
       <img style="float: right; margin: 0px 0px 15px 15px;" src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d09387ae003_1.JPG" width="550" />
                <h1>kiira Onew</h1>
                <p>Ilustrador...</p>
                <p>bla, bla, bla...</p>
                <p>mi mi mi...</p>
                <p>mi mi mi...</p>
                <p>mi mi mi...</p>
                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
       
       <%= yield %>

  </body>
</html>
