<!DOCTYPE html>
<html lang="pt" itemscope itemtype="http://schema.org/Product">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "jquery-1.11.0", "data-turbolinks-track" => true, defer: true  %>
    <title> <%= content_for?(:title) ? yield(:title) : "Kiira Onew Designer" %></title>
    <meta name="google-site-verification" content="i0MWxJAcu-753fhaNKh8pWit_eX2_qaoMvjThFCaSa0" />
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "superhero", :media => "all", defer: true %>
    <%= google_analytics %>

  </head>
  <body>
        <%= render 'partials/navigation' %>
        
        <%= yield %>
            
        <div class="container">
            <%= render 'partials/footer'%>
        </div>

        <a href="javascript:" id="return-to-top" role="button" title="Click para retornar ao topo da pagina" data-toggle="tooltip" data-placement="left"><i class="fa fa-chevron-up"></i></a>


        <%= javascript_include_tag "superhero", defer: true %>
  </body>
</html>