<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Kiira Onew - Digital Art">
    <meta property="fb:app_id" content="653396958070822">
    <meta property="og:image" content="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t31.0-8/q71/s720x720/1147627_1402097546674750_919579330_o.jpg">/>

    <title> <%= content_for?(:title) ? yield(:title) : "Kiira Onew Designer" %></title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "superhero", :media => "all" %>

    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

  </head>
  <body>
        <%= render 'partials/navigation' %>
        <% if @page_title == "Home"%>
            <div class="container">
                <%= render 'partials/hero' %>
                <%= yield %>
                <%= render 'partials/infos_about'%>
                <%= render 'partials/contact_me'%>
            </div>
        <%else%>
            <div class="container">
                <%= yield %>
            </div>
        <%end%>
        <div class="container">
            <%= render 'partials/footer'%>
        </div>
    <%= javascript_include_tag "superhero" %>
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  </body>
</html>